.sectionfactura{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly; 
    text-align: center;
    height: 100%;
    width: 550px;
}

.factura{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    width: 300px;
    height: 450px;
    background-color: white;
}

.sectionpago{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 550px;
}

h2.pago{
    color:black;
    font-weight: normal;
}

.sectiontipopago{
    width: 400px;
    height: 200px;
    background-color: #B0BEC5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
    justify-content: space-evenly; 
}

.sectiontipopago1 {
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido a la izquierda */
    justify-content: center; /* Centra verticalmente el contenido */
    padding: 10px; /* Agrega un poco de espacio alrededor del contenido */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el tamaño total */
}

input.infocliente{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border-color: #37474F;
    color: #37474F;
    border: 1px solid black;
}

button.infocliente{
    height: 30px;
    width: 100px;
    background-color: #37474F;
    border-radius: 5px;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-weight: lighter;
    font-size: 1em;
    
}

.rowtype{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.tipopago{
    color: black;
    padding-right: 15px;
}

select.pago{
    background-color: white;
    height: 30px;
    width: 355px;
    color:  #37474F;
    border-radius: 5px;
    border: 1px solid black;
}

p.pago{
    height: 30px;
    width: 350px;
    margin: 0px;
    color: black;
}

div.restitlefac{
    color:black;
    font-size: 2em;
    font-weight: bolder;
}

button.end{
    height: 50px;
    width: 200px;
    background-color: #37474F;
    border-radius: 5px;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-weight: lighter;
    font-size: 1em;
}