.cardmesa{
    height: 100px;
    width: 120px;
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-right: 10px;
    margin-left: 10px;
    
}

.numesa{
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    padding: 0;
    margin: 0;

}

.statemesa{
    height: 20%;
    width: 90%;
    border-radius: 5px;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
    
}

.disponiblec{
    background-color: #2E7D32;
}

.no-disponiblec{
    background-color: #C62828;
}

.disponibles{
    background-color: #5D8D61;
}

.no-disponibles{
    background-color: #D37676;
}