.consumible {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    background-color: #f9f9f9;
  }
  
  .card h2 {
    margin-top: 0;
    color: Black;
  }
  
  .card p {
    margin: 10px 0;
    color: black;
  }
  
  .prepared {
    background-color: #c8e6c9; 
  }
  
  .button {
    background-color: #c8e6c9; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    color: #538755;
  }